<template>
  <div class="row input">
    <div class="col">
      <label class="input-label" :for="id">{{ label }}</label>
      <input
        :id="id"
        :type="type"
        class="form-control"
        :placeholder="placeholder"
        @change="callback"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "Input",
  props: {
    id: String,
    type: {
      type: String,
      default: "text",
    },
    label: String,
    placeholder: String,
    callback: Function,
  },
};
</script>

<style scoped>
.input-label {
  width: 100%;
  text-align: start;
}

.input {
  margin: 10px;
}
</style>