<template>
  <button :type="type" class="btn btn-primary button">{{ text }}</button>
</template>

<script>
export default {
  name: "Button",
  props: {
    text: String,
    type: String,
  },
};
</script>

<style scoped>
.button {
  margin: 10px;
}
</style>