<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <Helloworld msg="Hello world" />
  </div>
</template>

<script>
// @ is an alias to /src
import Helloworld from "@/components/HelloWorld.vue";

export default {
  name: "Home",
  components: {
    Helloworld,
  },
};
</script>
