<template>
  <div class="container">
    <Input
      placeholder="Enter email"
      id="email"
      type="email"
      label="Email Address"
      :callback="setEmail"
    />
    <Input
      placeholder="Enter password"
      id="password"
      type="password"
      label="Email password"
      :callback="setPassword"
    />
    <Button type="submit" text="Submit" @click="submit" />
  </div>
</template>

<script>
import { Input } from "@/components/Input";
import { Button } from "@/components/Button";
import { v4 as uuid } from "uuid";
import store from "@/store";

export default {
  name: "Login",
  components: {
    Input,
    Button,
  },
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    setEmail(event) {
      this.email = event.target.value;
    },
    setPassword(event) {
      this.password = event.target.value;
    },
    submit() {
      const jwt = uuid();
      store.commit("saveCredential", jwt);
      this.$router.push({ path: this.$route.params.nextUrl || "/" });
    },
  },
};
</script>